{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container">
    <br>
  <div class="row">
    <div class="col-md-12 top-div">
      <h1 style="text-align:center;">Health Service Providers</h1>

    </div>
  </div>

<div class="row">

  {% for health in healthservices %}
  <div class="col-md-6">
  <div class="card card-image" style="background-image: url(https://patientengagementhit.com/images/site/article_headers/_normal/2017-12-12-patient-care.png);">

    <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h3 class="red-text">{{health.name}}</h3>
        <p>Phone Number: {{health.contact}}</p>
        <p>Email: {{health.email}}</p>
      </div>
    </div>

  </div>
  <br>
</div>
{% endfor %}
</div>
{% endblock %}