{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<br>
<div class="text-center">
  <a href="{% url 'new_notification' %}" >
      <button class="btn btn-primary">Post Notification</button>
  </a>
</div>
<br>
<div class="container">
    <div class="row">
        {% if notifications %}
        {% for notification in notifications %}
        <div class="col-md-6">
            <div class="card text-white bg-dark">
                    <div class="card-header">{{notification.title}}</div>
                    <div class="card-body">
                      <p class="card-text text-white">{{notification.notification}}</p>
                      <p class="d-flex justify-content-end">~ {{notification.author}}</p>
                    </div>
                  </div>
                  <br>
        </div>
        {% endfor %}
        {% else %}
        <p>No notifications yet</p>
        {% endif %}
    </div>
    
</div>
{% endblock %}